@import  http://fonts.googleapis.com/css?family=Allan:700;

/*
Author: Ellen Bajcar
Program: bingo.css
Date: Summer 2016
Date Updated: 8:25 AM June-09-16
Version: 3.0 (Week 3 stage)
Purpose: learning Javascript programming
Copyright: 
	This work is the intellectual property of Sheridan College. 
	Any further copying and distribution outside of class must be within 
	the copyright law. Posting to commercial sites for profit is prohibited.
Description:
	Styling for the interface for a bingo card
	Functionality for a bingo card (game board) and calling numbers (caller) 
		in separate file (bingo.js)
	See also: 
		Javascript, Eighth Ed., Negrino & Smith
		https://piazza.com/class/inrun9m79bc5q2?cid=15
	Bingo terminology: 
		http://blog.casinocashjourney.com/2013/01/18/bingo-terms/
*/

/* general type selectors */
body {
    /*background: url(images/bg11.jpg) no-repeat;
    background-size: cover;*/
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
table {
    margin: 0 auto;
    /* The box-sizing property defines how the width and height of an element are calculated: 
    should they include padding and borders, or not. 
    BORDER-BOX The width and height properties (and min/max properties) includes content, padding and border */
    box-sizing: border-box;
}
h1,h3 {
    font-size: 3em;
    margin: .2em 0;
    color: #00f;
    text-shadow: 1px 1px 1px #fff,2px 2px 6px #000;
}

/* format of the cells on the "BINGO face" (game board) */
td, th {
    width:50px;
    height:50px;
    border: 1px solid black;
    font-size:2em;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
}
th {
	background-color: lightblue;
}
.cell22 {
	background-color: black;
	color: white;
	font-size: 0.6em;
    text-transform: uppercase;
}
button {
    width: 270px;
    height: 1.6em;
    background-color: linen;
    font-size: 1.2em;
    margin: 8px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightblue;
}


