/* custom rules added to tailwind */

dl, ol {
  margin-bottom: 16px;
}
h4, h3 {
  margin-top: 16px;
}
.ordered-list {
  list-style-type: decimal;
}
.text-danger {
  color: red;
}
.bg-dark-gray  {
  background-color: #333940;
}
code {
  color: black !important;
}
.sher-teal {
  color: #00b2ce;
}
.bg-sher-teal {
  background-color: #00b2ce;
}
figcaption {
  color: #00b2ce;
  font-weight: 500;
}
ol {
  list-style-type: decimal;
}
.border-menu {
  border: 1px dotted gray;
}
